### PORT
PORT=10117
TZ=UTC
NODE_ENV=
# Database Mysql8
DATABASE_MYSQL8_HOST=
DATABASE_MYSQL8_USERNAME=
DATABASE_MYSQL8_PASSWORD=
DATABASE_MYSQL8_NAME=
DATABASE_MYSQL8_LOG=false

# Database Mypos
DATABASE_MYPOS_HOST=
DATABASE_MYPOS_PORT=
DATABASE_MYPOS_USERNAME=
DATABASE_MYPOS_PASSWORD=
DATABASE_MYPOS_NAME=
DATABASE_MYPOS_LOG=false